<section class="section section__clients">
   <div class="clients">
      <h2 class="clients__title">Our 
         <span>Delightsome</span>
         clients</h2>
      <div class="clients__items">
         <a href="#" class="clients__item"><img src="img/clients-img1.webp" alt=""></a>
         <a href="#" class="clients__item"><img src="img/clients-img2.webp" alt=""></a>
         <a href="#" class="clients__item"><img src="img/clients-img3.webp" alt=""></a>
         <a href="#" class="clients__item"><img src="img/clients-img4.webp" alt=""></a>
         <a href="#" class="clients__item"><img src="img/clients-img5.webp" alt=""></a>
         <a href="#" class="clients__item"><img src="img/clients-img6.webp" alt=""></a>
         <a href="#" class="clients__item"><img src="img/clients-img7.webp" alt=""></a>
         <a href="#" class="clients__item"><img src="img/clients-img8.webp" alt=""></a>
         <a href="#" class="clients__item"><img src="img/clients-img6.webp" alt=""></a>
         <a href="#" class="clients__item"><img src="img/clients-img7.webp" alt=""></a>
         <a href="#" class="clients__item"><img src="img/clients-img8.webp" alt=""></a>
         <a href="#" class="clients__item"><img src="img/clients-img9.webp" alt=""></a>
      </div>
   </div>
</section>