<section class="section section__missing">
   <div class="container">
      <div class="missing">
         <h2 class="missing__title">
            the  <span>opportunity</span>
            you are  <span>missing</span>!
         </h2>
         <canvas class="missing__chart chart"></canvas>
         <p class="missing__text">ad spending social media</p>
         <p class="missing__text">in million usd (us$)</p>
         <canvas class="missing__chart missing__chart-mob"></canvas>
      </div>
   </div>
</section>