<section class="section section__mission">
   <div class="container">
      <div class="mission">
         <div class="mission__header">
            <h2 class="mission__title">who</h2>
            <h3 class="mission__subtitle">we<br>are?</h3>
         </div>
         <p class="mission__text">We are a full-stack marketing agency with proven experience of 7+ years. we take pride in our founders having experience in scaling and helping Pakistani and international brands to become what they have been thriving for years. our team is qualified in marketing, branding, and development we create brands that scale
         </p>
         <div class="mission__header">
            <h3 class="mission__subtitle">our</h3>
            <h2 class="mission__title">mission</h2>
         </div>
         <p class="mission__text">Our Mission is to help business to scale their business and to grow beyond their expectation.
         </p>
      </div>
   </div>
</section>