<section class="section section__stack">
   <div class="container">
      <div class="stack">
         <h4 class="stack__subtitle">we are a</h4>
         <h2 class="stack__titlebig">full stack</h2>
         <h3 class="stack__subtitlebig">marketing agency</h3>
         <h4 class="stack__title">Official <span>partners</span></h4>
         <div class="stack__items">
            <a href="#" class="stack__item"><img src="img/partner-img1.webp" alt=""></a>
            <a href="#" class="stack__item"><img src="img/partner-img2.webp" alt=""></a>
            <a href="#" class="stack__item"><img src="img/partner-img3.webp" alt=""></a>
         </div>
      </div>
   </div>
</section>