<section class="section section__team">
   <div class="container">
      <div class="team">
         <h2 class="team__title">the team that makes 
            the <span>magic</span> happen!</h2>
         <div class="team__items">
            <a href="#" class="team__item">
               <div class="team__item-img"><img src="img/team-img1.webp" alt=""></div>
               <h4 class="team__item-title">Jawad Irfan</h4>
               <p class="team__item-text">cmo-marketing wizard
                  co-founder</p>
            </a>
            <a href="#" class="team__item">
               <div class="team__item-img"><img src="img/team-img2.webp" alt=""></div>
               <h4 class="team__item-title">bilal ahmed</h4>
               <p class="team__item-text">ceo-the mastermind
                  co-founder</p>
            </a>
            <a href="#" class="team__item">
               <div class="team__item-img"><img src="img/team-img3.webp" alt=""></div>
               <h4 class="team__item-title">Muhammad anas</h4>
               <p class="team__item-text">cbo-brand builder
                  co-founder</p>
            </a>
            <a href="#" class="team__item">
               <div class="team__item-img"><img src="img/team-img4.webp" alt=""></div>
               <h4 class="team__item-title">ahmed naveed</h4>
               <p class="team__item-text">media buyer
                  founding member</p>
            </a>
            <a href="#" class="team__item">
               <div class="team__item-img"><img src="img/team-img5.webp" alt=""></div>
               <h4 class="team__item-title">hammad ahmed</h4>
               <p class="team__item-text">growth manager
                  founding member</p>
            </a>
            <a href="#" class="team__item">
               <div class="team__item-img"><img src="img/team-img6.webp" alt=""></div>
               <h4 class="team__item-title">zulqarnain</h4>
               <p class="team__item-text">creative designer
                  founding member</p>
            </a>
         </div>
      </div>
   </div>
</section>