<nav class="navbar">
  <div class="navbar__scroll swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide">
        <p class="navbar__scroll-text"><span>award winning performace marketing agency generated over 20 million in revenue</span> <span>award winning performace marketing agency generated over 20 million in revenue</span> <span>award winning performace marketing agency generated over 20 million in revenue</span></p>
      </div>
      <div class="swiper-slide slide">
        <p class="navbar__scroll-text"><span>award winning performace marketing agency generated over 20 million in revenue</span> <span>award winning performace marketing agency generated over 20 million in revenue</span> <span>award winning performace marketing agency generated over 20 million in revenue</span></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="nav">
      <a href="#" class="nav__logo"><img src="img/logo.webp" alt=""></a>
      <div class="nav__menu">
        <ul class="nav__list">
          <li class="nav__list-item"><a href="#">About</a></li>
          <li class="nav__list-item"><a href="#">Our Work</a></li>
          <li class="nav__list-item"><a href="#">Our Portfolio</a></li>
          <li class="nav__list-item"><a href="#">Our Services</a></li>
        </ul>
        <a href="#" class="nav__btn">Book a Call</a>
      </div> 
      <div class="burger">
        <span></span>
      </div>
    </div>
  </div>
</nav>